.chatbot-container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 400px;
  margin: 0 auto;
  /* border: 1px solid #ccc; */
  box-shadow: 0px 0px 10px 0px rgba(151, 193, 139, 0.5);
  border-radius: 15px;
  /* border-radius: 15px; */
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.chatbot-header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:  #4CAF50;
  color: #fff;
  height: 50px;
}

.chatbot-messages {
  flex: 1;
  padding: 16px;
  overflow-y: scroll;
}

.message {
  display: flex;
  flex-direction: row;
  max-width: 75%;
  margin-bottom: 8px;
  padding: 8px;
  border-radius: 8px;
}

.user {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  margin-left: auto;
  width: fit-content;
}

.bot {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f0f0f0;
  color: #000;
  margin-right: auto;
}

.user .text {
  margin-left: 8px;
}

.bot .text {
  margin-right: 8px;
}

.close {
  color: #0d0d0d;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}


.close:hover,
.close:focus {
  color: rgb(175, 28, 28);
  text-decoration: none;
  cursor: pointer;
}

/* form {
  display: flex;
  align-items: center;
  padding: 16px;
} */

/* input[type="text"] {
  flex: 1;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-right: 8px;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
} */
