a {
    position: relative;
    color: #000;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(234, 38, 38);
  }
  
  a::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(23, 180, 34);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  
  a:hover::before {
    transform: scaleX(1);
  }